@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
box-sizing: border-box;
font-family:  'Poppins', sans-serif;
}
:root{
    --white-color: #fff;
    --header-color: #1e2022;
    --black-color: #000;
    --linear-gradient: linear-gradient(-45deg, #4e54c8, #8089ff);
}
html{
    scroll-behavior: smooth;
}
body{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
font-family: 'Poppins', sans-serif;
overflow-y: scroll;
color: #575a7b;
letter-spacing: 0.5px;
font-weight: 400;
overflow-x: hidden;
}
h1{
    color: var(--header-color);
}
nav .nav-ul li{
display: inline-block;

}
/*code for Navigation menu*/
.menu-section{
    position: fixed;
    top: 0;
    right: 0;  
    z-index: 9999; 
    width: 100%;
}
.nav-ul{
list-style-type: none;
margin: 0;

overflow: hidden;
padding: 20px;
text-align: right;
}
.background-scroll{
    background-color: var(--white-color);
}
.nav-img{
    float: left;
    width: 6.5%;
    position: absolute;
    left: 350px;
}
li a{
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 5px;
    font-size: 0.87rem;
    font-weight: bold;  
    align-items: center;
    text-transform: uppercase; 
}
li.active a {
    color: red;
}
a:hover{
    transition: .5s;
    color: #0f17a1;
}
#check,i{
float: left;
}

#check{
    display: none;
}
.checkbtn{
    font-size: 1.9rem;
    float: right;
    cursor: pointer;
    display: none;
    line-height: 80px;
}

/*Nav menu ends here */

.visible{
    opacity: 0;
    position: relative;
    transition: all ease-in-out .8s;
    transform: translateY(100px);
}
.visible.show{
   opacity: 1;
   transition: all ease-in-out .8s;
   transform: translateY(-50px);

}

/*code for the home section -1st section*/
.home{
background: url(https://fabrex.websitelayout.net/demos/startup-agency/img/banner/banner.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
position: relative;
z-index: -5;

}

.home::before{
background: var(--linear-gradient);
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0.9;
z-index: -2;
}

.header-text{
color :var(--white-color);
margin: 170px 0;
}

.header-text > h1{
    font-size: 2.6rem;
    line-height: 3rem;
    color: var(--white-color);
}
.header-text p{
font-size: 0.9rem;
}
#header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
    animation: slideFromLeft .9s ease-in;
}
.header-img{
    max-width: 100%;
    height: auto;
    margin-top: 5rem;
}


/*buttons*/
.btn{
    display: inline-block;
    color:  #4e54c8;
    background-color: var(--white-color);
    padding: 15px 30px;
    border-radius: 3rem;
    text-transform: uppercase;
    font-size: 0.85rem;
}
.btn-3{
background-color: var(--linear-gradient);
outline: none;
}

h3.btn{
    background-color: var(--white-color);
    color:  #4e54c8;
}
h3.btn:hover{
    color: var(--white-color);
    background-color: #4e54c8;
    cursor: pointer;
}

.video-btn{
    height: 10px;
    width: 50px;
    border-radius: 50%;
    padding: 1.5rem;
     position: absolute;
     left: 170px;
     top: -8px;
     border: 1px solid ;
     
}
.video-items{
    display: flex;
    gap: 1rem;
    position: relative;
}
.video-items .btn{
height: 50px;
}
.video-items i{
    font-size: 0.9rem;
    position: absolute;
    right: 15px;
    top: 15px;
}
#cart{
    top: 150px;
}
.cart-container i{
    color: gray;
    font-size: 0.9rem;
    position: fixed;
    right: 0;
    top : 100px;
    background-color: #fff;
    padding: 7px 15px;
    z-index: 999999;
}
#envelope{
top: 200px;
}

/*Home section ends here*/

/*code for second section */
.services{
    background-color: var(--white-color);
    display: grid;
    row-gap: 20px;
    text-align: center;
    height: 600px;
    animation: slideFromBottom .9s ease-in-out;
    z-index: -99999;
    }
    .services h2{
        color: var(--header-color);
    }
    .services p:nth-child(2){
        font-size: 0.9rem;
    }
    .box-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;   
        margin: auto;
        column-gap: 20px;
    }
    
    .box{
        max-width: 27rem;
        border: 1px solid rgb(244, 238, 238);
        height: 300px;
        background-color: #f7f7f7;
        margin: auto;  
    }
    .box:hover{
        transform: translateY(-20px);
        transition:  ease-in-out .4s;
    }
    .circle,.circle-2{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        padding: 2.5rem;
        background-color: rgb(235, 234, 234);
        margin: auto;
        margin-top: 4.5rem; 
        position: relative;  
    }
    .services h3{
        color: var(--header-color);
        font-size: 1.2rem;
        margin-left: 0.5rem;
    }
    .services p{
        font-size: 1rem;
        margin: 0 0 20px;
    }

    .text-primary,.icon-2{
        color:#0f17a1;
        font-size: 3.8rem;
        opacity: 0.75;
        position: absolute;
        top:0;
        left: 30;
    }
 
/*Second section code ends here */

/*all sections code*/
.section-container{
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/*ends here */

/*Code for third section*/
.features{
    background-color: #f7f7f7;
    z-index: -99999;
  
}
.features h1{
    font-size: 1.9rem;
}
.features p,#tool p,.last-text{
    line-height: 1.8rem;
}
.features-text{
margin-left: 5rem;
margin-bottom: 0rem;
}
.features-list{
font-size: 1rem;
list-style-position: outside;
line-height: 2rem;
color: #575a7b;
}

.features li{ 
transition: all 0.3s ease 0s;
transform: scale(1.05);
}

.btn{
    background: #4e54c8;
    color: var(--white-color);
}
h5.btn:hover{
    transition: all ease-in-out .2s;
    transform: scale(1.02);
    cursor: pointer;
    background: #0f17a1;
}
/*ends here*/

/*Code for 4th section*/
.tool{
    height: auto;
    padding: 4%;
    margin: auto;
}
#tool-container{
    display: flex;
    gap: 6rem
}
.tool h1{
    max-width: 500px;
}
.tool p{
    font-size: 0.9rem;
}
.tool-text{
    width: 37.5rem;
    margin-top: 7rem;
    line-height: 2rem;
}
#tool-container h2{
    line-height: 1.5;
}

.last-text{
    display: block;
    background: 
    linear-gradient(-45deg, rgba(78,84,200,0.25),
     rgba(128,137,255,0.25));
     padding: 13px 12px;
}

/*Code ends here*/

/*Code for the 5th section*/
.records{
    background: var(--linear-gradient);
    height: 330px;
    color: var(--white-color);
    z-index: -99999;
}

#logo-wrap{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10rem;
   text-align: center;
}
#logo-wrap i{
 margin-left: 3.4rem;
 font-size: 1.8rem;
 padding-bottom: 1rem;
}

.records h1{
    font-size: 2rem;
    color: #fff;
}

/*Code ends here*/

/*Code for 6th section*/
.pricing{
    background: #f7f7f7;
    height: 800px;
    z-index: -99999;
}
.pricing h1{
  font-size: 2.05rem;
  position: absolute;
  top: 50px;
}

sup{
    font-size: 0.9rem;
}
sub{
   font-size: 0.8rem;
   color: #4e54c8;
   padding-right: 1rem;
   font-weight: 100;
   text-transform: capitalize;
}

.card{
    width: 400px;
    text-align: center;
    background-color: var(--white-color);
    height: 510px; 
    outline: none;
    box-shadow:  0px 5px 20px rgb(207, 191, 191);
}
.card:hover{
    transition: all ease-in-out .4s;
    transform: scale(1.04);
}
.container{
    position: relative;
}
.card-list{
    list-style-type: none;
    margin-top: 5rem;
    line-height: 2.7rem;
    color:#575a7b;
    font-size: 0.94rem;
}
.card-button{
    display: inline-block;
    background: var(--linear-gradient);
    color: var(--white-color);
    padding: 15px 33px;
    border-radius: 3rem;
    text-transform: uppercase;
    font-size: 0.85rem; 
    margin-top: -0.5rem;
    margin-left: 1rem;
}
.card-button:hover{
    background: #0f17a1;
    transform: scale(1.05);
}
.container h2{
position: absolute;
left: 120px;
top: -30px;
color: var(--black-color);
font-size: 3.2rem;
font-weight: bold;  
}

.container,.container-2{
  padding: 10px;  
}
.header{
    background-color: var(--black-color);
    color:var(--white-color);
    padding: 1px;
    font-size: 15px;
}
.header-2{
    background:  var(--linear-gradient);
    padding: 1px;
    font-size: 15px;
    color: var(--white-color);
}
#card-container{
    display: grid;
    width: 1300px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

/*Code ends here*/

/*Code for 7th section*/
.client{
    background-color: var(--white-color);
    height: 600px;
    text-align: center;
    z-index: -99999;
}
    .client h1{
        font-size: 2rem;
        position: absolute;
        top: 50px;
    
    }
    .client-img{
        display: block;
        border-radius: 50%;
        margin: auto;
    }
   .client p{
    color:var(--header-color);
   }
    .client p:last-child{
        color: rgb(140, 138, 138);
        font-weight: 100;
    }
    .client p:last-of-type{
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
    /*Code ends here*/

   /*Code for 8th section*/
.work{
    background:  var(--linear-gradient);
    height: 550px;
    position: relative;
    text-align: center;  
    color: var(--white-color);
    z-index: -99999;
}
.work h1{
    color: var(--white-color);
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 30;
    left: 45%; 
}
.video-items{
    position: relative;
}
.play-circle{
    position: absolute;
    left: 170px;
    bottom: 50px; 
}


.work h2  {
    font-size: 1.1rem;
}
.work p{
    font-size: 0.95rem;
}
#text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10rem;
}
.circle-2{
    height: 100px;
    width: 100px;
}
.icon-2{
    font-size: 2.5rem;
    color:#0f17a1;
    top: 30%;
    left: 30%;
    }
/*Code ends here*/
/*Code for the 9th section*/
.business{
    background-color: #f7f7f7;
    z-index: -99999;

}
.business h1{
    font-size: 1.7rem;
    word-spacing: 3px;
    margin-left: 2.5rem;
}
.line-break{
    display: none;
}


.business-img{
  width: 520px;
}
.business-idea{
    position: relative;
}
.business-text {
   display: none;
  }
.business-idea h5{
    font-weight: 100;
    font-size: 0.9rem;
    color: #6f6f6f;
    background-color: #efefef;
    padding: 20px 15px;
    position: relative;
}

 .slide-transition {
    transition: 2s ease;
  }
  
  .slide-transition.slide-out {
    transform: translateY(100%);
  }

.business-idea h5, .business-idea p{
    margin: 2px;
    width: 700px; 
    transition: ease-in .3s;
}
.business-idea p{
    font-size: 0.9rem;
    margin: 20px;
    
}

.accordion-text::after{
    content: "+";
    position: absolute;
    right: 16px;
    color: #0a58ca;
    bottom: 17px;
    font-size: 1rem;
}  

.business-idea.show-text h5::after {
    content: "-";
}
.business-questions{
    display: inline;
    
}
.circle-styling{
width: 10px;
height: 10px;
border-radius: 50%;
position: absolute;
right: 10px;
border: 1px solid #0a58ca;
padding: 11px;
}
.show-text::after{
    content: "-";
    position: absolute;
    right: 16px;
    color: #0a58ca;
    bottom: 17px;
    font-size: 1rem;
  
}
.show-text{
    display: block;
    transition: ease-in .3s;
  
}




/*Code ends here*/
/*Code for the 10th section*/
.blog{
    background-color: var(--white-color);
    height: 750px;
    z-index: -99999;
}
.blog h1
{
position: absolute;
top: 10px;
font-size: 1.9rem;
}
.blog-container{
    display: flex;
    flex-direction: row;
}

.img-card{
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-card:hover{
    transition: all ease-in-out .5s;
    transform: scale(1.05);
    cursor: pointer;
}
.card-image{
    width: 400px;
    height: 230px;
    object-fit: cover;
    gap: 3rem;
}
.card-image-2{
    width: 400px;
    height: 220px;
}
.card-text{
    padding: 10px;  
    padding-left: 1.5rem;
}
.card-text h2{
    font-size: 1.2rem;
    color: var(--header-color); 
}
.card-text p{
    font-size: 0.9rem;
}
.inner-text{
    border-width: thin;
    border-top: 1px solid #dfd8d8;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.inner-text p{
    font-size: 1.1rem;   
}
/*Code ends here*/
/* contact-section */

.contact{
    background: var(--header-color);
    height: auto;
    padding: 3.5%;
    }

.contact-text{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
gap: 5rem;
}
.contact-text h2{
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

.info:first-child{
    color: #939393;
 }

 .info:nth-child(2){
    color: #939393;
    }

    .info:last-child{
        color: #939393;
    }
    .info{
        margin-left: 2rem;
        margin: -20px;
        
    } 
.contact-text h2::after {
    content: '';
    display: block;
    width: 70px;
    height: 1.5px;
    background: #4f55d1;
    margin: 12px auto auto;
}
.contact-text{
    border-bottom: 1px solid rgb(69, 65, 65);
    position: absolute;
    padding: 3rem;
    margin-bottom: 7.5rem;
    width: 50%;
}
.contact-icon{
    font-size: 1.5rem;
    margin-top: 120px;
    color: rgb(210, 206, 206);
    display: flex;
    gap: 2rem;
    text-align: center;
    
}
/* footer */

#footer{
    background-color: #191919;
    color:#f7f7f7;
    height: 70px;
    text-align: center;
    padding-top: 1rem;
    
}
#footer a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #0f17a1;
}
/*Code ends here*/

/*Code for footer section -Last section*/

.tool-br,.break-1{
    display: static;
}


/* Animations */

@keyframes slideFromLeft {
    0%{
        transform: translateX(-100%)
    }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
    0%{
        transform: translateX(100%)
    }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideFromTop{
    0%{
        transform: translateY(-100%)
    }
  100%{
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
    0%{
        transform: translateY(100%)
    }
  100%{
    transform: translateX(0);
  }
}


/*Code ends here*/

@media  (max-width: 480px){
.tool-text{
    max-width: 95%;
    margin: auto;
}
.tool-text{
    margin-top: -5rem
}
#tool-container{
    flex-direction: column-reverse;
    gap: 3rem;
    max-width: 90%;
}
}
@media  (max-width: 1200px){
.contact-text{
    grid-template-columns: 1fr;
}
.contact{
  height: 500px;
  padding: 5%;
  text-align: center;
}
.contact-icon{
    margin-top: 400px;
}
}
@media  (max-width: 350px){
.contact-text{
    width: 70%;
}
}
@media  (max-width: 480px){
#tool-container{
    margin: 0;
    gap: 5rem;
}
}

/*media queries for medium sized screens*/
@media  (max-width: 990px){
    #header-container,.m-query,
    #card-container{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 4% 0px;
    }

/* home */
#header-container{
    margin: auto;
}

.header-img{
    margin-top: -12rem; 
}
.header-text{
 margin-top: 1rem;
}

/* services */

.services{
    height: 1200px;
}
 
.box{
    max-width: 90%; 
}

.services p{
 margin: 0 150px;
 line-height: 1.5rem
}
.services i {
    font-size: 3rem ;
}

/* pricing */
.pricing{
    height: auto;
    padding-top: 30%;
}

.card{
    width: 95%;
    margin: auto;
    height: 95%;
    
}
#card-container{
    display: flex;
    row-gap: 2rem;
}
/* work */
.work h1{
margin-left: -3.5rem
}
.work i {
    font-size: 2.5rem ;
}

#text-container{
    margin: 5px;
    gap: 1rem;
}

/* blog */
.blog-container{
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 20px;
}

/* contact */

}
@media screen and  (min-width: 650px) and (max-width: 1020px){
    .blog-container{
        display: block;
        width: 80%;
        display: flex;
    }

    .break-3{
        display: none;
    }
    .blog{
        height: 1700px;
    }
    .img-card,.card-image{
        width: 100%;
    }
    .blog h2{
       font-size: 1.5rem; 
    }

    .records{
        padding: 7%;
        height: auto;
     }
     #logo-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 6rem;
     }
     .business{
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
    
     }
     #tool-container{
        flex-direction: column-reverse;
     }
     .tool-text{
        margin-top: -7rem;
     }
     .pricing{
        padding-top: 15%;
     }
    .business{
        display: flex;
        flex-direction: column;
        align-items: center;
    }  
}

 /* media queries for small mobile phones and medium screen size
 */
 @media screen and (max-width: 360px){
    .dropdown,.dropdown-2,.dropdown-3{
        max-width: 80%;
        margin: auto;
        margin-left: 1rem;
    }
    .business h1{
        font-size: 1rem;
        max-width: 70%;
        margin: auto;
    }
    .business img{
        width: 90%;
    }
    .pricing h1{
        margin-top: -1rem;
    }
    .records i{
    position: relative;
    right: 0.8rem;
    }
 }

 @media screen and (max-width: 400px){
 .blog{
    width: 95%;
    margin: auto;
 }
 .work{
    padding: 10%;
 }
 } 

 @media screen and (max-width: 590px){
 .m-query{
    height: auto;
    padding: 4% 0px;
    font-size: 0.9rem;
 }
 html,body{
    font-size: 0.9rem;
 }
 
#home .break-1{
 display: none;
 }
 
 #home h1{
    font-size: 1.7rem;
    line-height: 1.3;
 }

 #header-container{
    margin:  20px;
}
.header-img{
    width: 95%;
}

/* services */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services br{
    display: none;
}
.services h2{
 margin: 0 5px;
}
.services p:nth-child(2){
    margin: 0 10px;
}

.box{
    max-width: 90%;
    margin-top: 20px;
}
.box p{
margin: auto;
font-size: 0.9rem;
max-width: 80%;

}
.box i{
    font-size: 3rem;
}
.box h3{
    font-size: 1.5rem;
    margin: auto;
    padding: 0.7rem;
}

/* features */

.features h1{
 font-size: 1.2rem;
}
#features .break-1{
    display: none;
}
.feature-img{
    width: 390px;
}
.features-text{
   margin-left: 1rem;
}
.features-text h1{
 font-size: 1.3rem;
}

/* tool */

.tool{
    height: auto;
}

.tool img{
    width: 100%;
    height: auto;
    margin: auto;
}

/* records */
.records{
   padding: 7%;
   height: auto;
}
#logo-wrap{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 6rem;
}

 /* work */
#text-container{
 display: grid;
 grid-template-columns: 1fr;
 margin-top: 2rem;
}

.work{
    height: auto;
}
.work h1{
  position: absolute;
  top: 0;
  left: 38%;
}
.work i {
font-size: 2.5rem ;
}
/* business */

.dropdown,.dropdown-2,.dropdown-3{
    width: 95%;
 }
 .business{
    font-size: 0.9rem;
 }
 .business-img{
    width: 400px;
 }
 /* blog */
 .blog{
    height: 1600px;
 }
}
 
/* Large screen sizes */
@media screen and (min-width: 991px) and (max-width: 1310px){
    .m-query{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 5%;
    }
    .nav-img{
        position: absolute;
        left: 10px;
        
    }
   /* home */
    #header-container{
     display: flex;
     flex-direction: column;
     margin-top: -10rem;
     max-width: 70%;

    }
    .break-1{
        display: none;
    }
    .header-img{
        margin-top: -10rem;
    }

    /* services */
    .box{
        max-width: 90%;
    }
    
    /* tool */
    #tool-container{
        display: flex;
      flex-direction: column-reverse;
    }
    .tool-text{
        width: 80%;
        margin: auto;
        display: block;
        margin-top: -7rem;
    }
    .tool img{
       max-width: 100%;
       margin: auto;
       display: block;
    }
/* pricing */
#card-container{
    display: flex;
    width: 95%;
    gap: 1rem;
}
/* work */
#text-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-left: 50px;
}
/* business */
.business-dropdown{
    width: 80%;
}
/*blog */
.blog-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
}

/*Nav menu media query*/
@media (max-width: 991px){
    nav .nav-ul li a{
        font-size: 1rem;
    }
}

@media (max-width: 991px){
    .checkbtn{
       display: block;
    }
    .nav-ul{
   position: relative;
   width: 80%;
   height: 24rem;
   left: -100%;
   background-color: white;
   transition: all  .5s;
   text-align: left;
   margin-left: 5rem;
   line-height: 3rem;
    }
  nav .nav-ul li{
    display: flex;
    margin: 3.2rem 0;
    line-height: 10px;
    flex-direction: column;
    margin: -0.5rem;
  }
  nav .nav-ul li a{
    font-size: 1rem;
    border-bottom: 1px solid rgb(226, 214, 214);
  }
  #check:checked ~ ul{
    left: 0;
  }
  .checkbtn{
    background-color: white;
    width: 100%;
    padding: 1%;
  }
  .nav-img{
   width: 6rem;
   margin-top: -1.5rem;
   margin-left: 8rem;
  }
  .fas {
  margin-top:0rem;
  font-size: 1.2rem;
  }
  }

  @media screen and (min-width: 250px) and (max-width: 450px){
   .nav-ul {
  width: 90%;
  margin-left: 1rem;
    }
    nav .nav-ul li a{
        font-size: 0.8rem;
      }
  }
